div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    a.brand(href="/") SITE SCORE
    ul.nav
      li
        form.navbar-form.pull-left(action="/go")
          input.span4(type="text",id="url",name="url",placeholder="http://www.yourwebsite.com",value="http://")   
          input.btn(type="submit",value="Go")

