!!! 5
html(lang='en')  
  include includes/header
  body 

    include includes/topbar                                             
    
    div.container

      div.hero-unit
        h1 SITE SCORE
        p See how modern your website is
        p We spider the site and tell you
        ul
          li how modern the markup is
          li if your contact information is visible
          li whether your social media links are present
        p Sites are scored out of 100. See how your website is today! Simple put your website addess in the form at the top and click Go!
       
    include includes/footer