.container {
  margin-top:80px;
}

.devices {
  margin-left:90px;
  background-image: url(/images/devices.png);
  width:278px;
  height:205px;
  position:relative;
}

.laptop {
  background-image: url(/images/laptop.png);
  width:500px;
  height:322px;
  position:relative;
}

.ss {
  position: absolute;
  display:inline-block;
  overflow:none;
  margin:0;
  background-size:contain;
  background-repeat:no-repeat;
}

.desktop {
  top:16px;
  left:73px;
  width:370px;
  height:268px;  
}

.mobile {
  top:90px;
  left:33px;
  width:55px;
  height:88px;  
}

.tablet {
  top:25px;
  left:134px;
  width:118px;
  height:154px;  
}
